.small{font-size: 10px;}
.day-td{padding: 0px;}
.day-td .small{color: black;}
.day-relative{position: relative;}
.hour{display: block; height: 40px; border-bottom: 1px dashed #ccc; position:relative;}
.hour:last-child{border: none;}
.hour .time {
	display: absolute;
}
.errorSummary{color: red;}
.errorSummary p,.errorSummary li {font-size: 11px;}
.errorSummary p {margin-bottom: 0px;}
.hour:hover{
	background-image: url('foundation/images/foundation/orbit/bullets.jpg');
	background-repeat: no-repeat;
	background-position: -8px 17px;
}
.project {
	position: absolute;
	padding: 16px 5px 0 0;
	width: 80%;
	right: 0px;
	background-color: khaki;
	border-radius: 5px;
	opacity: 0.5;
	text-align: right;
	font-size: 11px;
	color: black;
}

.project:hover{
	opacity: 0.8;
}

.project a:hover {
	color: blue;
}
.project-name {
	position: absolute;
	z-index: 2;
	right: 0;
	font-size: 10px;
}
.project-name a{
	color: black;
	margin: 1px 5px;
	text-decoration: underline;
}
.project-name a:hover{
	color: blue;
}

.time-hr{
	z-index: 1; display: block; position: absolute; width: 100%; border-bottom: 2px solid gold;
}