.small{font-size: 10px;}
.day-td{padding: 0px;}
.day-td .small{color: black;}
.day-relative{position: relative;}
.hour{display: block; height: 40px; border-bottom: 1px dashed #ccc; /*position:relative;*/}
.hour:last-child{border: none;}
.hour .time {
	display: absolute;
}
.errorSummary{color: red;}
.errorSummary p,.errorSummary li {font-size: 11px;}
.errorSummary p {margin-bottom: 0px;}
.hour:hover{
	background-image: url('foundation/images/foundation/orbit/bullets.jpg');
	background-repeat: no-repeat;
	background-position: -8px 17px;
}
.project {
	position: absolute;
	width: 85%;
	background-color: khaki;
	border-radius: 5px;
	text-align: right;
	right: 0px;
	padding: 1px 5px 0 0;
	font-size: 11px;
	opacity: 0.8;
}
.project a{
	color: black;
}
.project a:hover {
	color: blue;
}